@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
    @apply my-3 bg-white shadow rounded overflow-hidden relative;
}
.badge{
    @apply bg-indigo-600 uppercase font-bold rounded-full p-2 text-white absolute top-0 right-0 m-2 text-xs;
}
.card-image{
    @apply w-full md:h-52 object-cover;
}
.btn{
    @apply text-xs font-bold uppercase cursor-pointer rounded-full py-2 px-3 tracking-wider transition duration-200 ease-in;
}
.load-more-button{
    @apply btn bg-primary-400 text-white transform transition duration-200 ease-in hover:shadow-inner hover:bg-indigo-500 hover:text-white hover:scale-105 my-3;
}